/* 
--- 02 COLORS

- Primary: #0B1420
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif, "Playfair Display", serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.btn {
  padding: 8px 16px;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border: none;
}

.header {
  z-index: 1;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.header-left {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.menu-items,
a {
  display: flex;
  gap: 0.2rem;
  margin: 1.2rem;
  list-style: none;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 300;
  color: #eee;
  letter-spacing: 0.02rem;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.icons {
  display: flex;
}

.menu-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.section-hero {
}

.hero {
  position: relative;
  background-image: linear-gradient(90deg, #0b1420 24%, #09101a50),
    url("/images/hero-2.jpg");
  background-size: cover;
  height: 60rem;
}

.hero-img {
}
